@using UIControlsFromClassAttributes.Models.ConnectorConfigurationObjects

@model ConnectorConfigModel

@{
    ViewData["Title"] = "Connector";
}

<h1>@ViewData["Title"]</h1>

<div id="UIControlsContainer">
    await @Html.PartialAsync("_ConnectorConfig", Model)
</div>

